@import url("reset.css");

*{
    color: black;
}

a{
    color: darkorange;
}

.harness{
    color: darkblue;
}

#facts{
    color: aqua;
}

div.intro{
    color: red;
}

.text__silk,.text{
    color: greenyellow;
}

.list li{
    color: darkgreen;
}

.list .link{
    color: deeppink;
}

.brown *{
    color: brown;
}

.intro > p{
    color: darkslategrey;
}

.social ~ a{
    color: blue;
}

.social + a{
    color: red;
}

[class*="__container"] {
    color: fuchsia;
}