@font-face {
    font-family: "Causten" ;
    src: url(../fonts/causten-bold.woff2) format("woff2");
    src: url(../fonts/causten-bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Causten" ;
    src: url(../fonts/causten-regular.woff2) format("woff2");
    src: url(../fonts/causten-regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CoreSansC" ;
    src: url(../fonts/coresansc-bold.woff2) format("woff2");
    src: url(../fonts/coresansc-bold.woff) format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}