@import url(https://fonts.googleapis.com/css?family=Poppins:400,700);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Infant:500,700);
@import url("fonts.css");

@import url("reset.css");

body {
    font-family: "Inter", sans-serif;
    color: #7D7D7D;
    
}
.header {
    display: none;
}
/* -----------#1--------------- */

.exercise-1 {
    padding: 50px 15px;
    max-width: 1248px;
    margin: 0 auto;
    font-size: 18px;
}
.title {
    text-align: center;
    color: #37393F;
    font-weight: 500;
    margin-bottom: 16px;
}
    
.logo {
    width: 12px;
    height: 12px;   
    background: #40DDB6;
    display: inline-block;
    margin-bottom: 1px;
}
.logo-text {
    text-align: center;
    color: #37393F;
    font-weight: 500;
    margin-bottom: 16px;
    text-transform: capitalize;
}
h1 {
    font-family: Poppins;
    font-size: 60px;
    font-weight: 700;
    line-height: 121%; /* 72.6px */
    margin-bottom: 70px;
}
h2 {
    color: #37393F;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 121%; /* 48.4px */
    margin-bottom: 11px;
}
.text-1 {
    line-height: 146.187%; /* 26.314px */
    margin-bottom: 32px;
}
.title-3 {
    font-family: Poppins;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 100px;
    color: #37393F;
    font-weight: 700;
}
.title-3 span {
    color: #40DDB6;
    font-weight: 400;
}
.text-01{
    line-height: 146.187%; /* 26.314px */
    margin-bottom: 24px;
}
.pexels {
    margin-bottom: 8px;
}
.text-2 {
    color: #40DDB6;
    line-height: 146.187%; /* 26.314px */
    margin-bottom: 24px;
}
.down {
    margin-bottom: 100px;
}
.fonts {
    margin-bottom: 11px;
}
.color {
    color: #40DDB6;
    font-weight: 500;
    line-height: 146.187%;
}

/* -----------#2--------------- */

.exercise-2 {
    padding: 50px 15px;
    max-width: 830px;
    margin: 0 auto;
    font-size: 18px;
}
.title-project {
    text-transform: capitalize;
    margin-bottom: 13px;
}
.text-project {
    line-height: 146.187%; /* 26.314px */
    margin-bottom: 35px;
}
.text-project p {
    margin-bottom: 30px;
}
.list {
    margin: 0px 0px 30px 16px ;
    font-weight: 500;
    line-height: 146.187%; /* 26.314px */
}
.list li {
    margin-bottom: 50px;
}
/* -----------#3--------------- */
.exercise-3 {
    padding: 50px 100px;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 18px;
}
.clothing-title {
    /* width: 575px ; */
    color: #3C4242;
    font-family: "Core Sans C", sans-serif;
    font-size: 0px;
    font-weight: 600;
    margin-bottom: 30px;
}
.marker {
    width: 6px;
    height: 28px;
    border-radius: 10px;
    background: #8A33FD;
    display: inline-block;
    margin: 0px 15px 1px 0px;
    /* margin-bottom: 1px;
    margin-right: 15px; */
}
.clothing {
    font-size: 28px;
    text-transform: capitalize;
    line-height: 33.5px; /* 119.643% */
    letter-spacing: 0.56px;
    display: inline-block;
    /* margin-left: 15px; */
}
.subtitle {
    padding: 0px 176px 0px 21px;
    margin-bottom: 25px;
    color: #807D7E;
    font-family: "Core Sans C";
    font-size: 20px;
    font-weight: 600;
    line-height: 33.5px; /* 167.5% */
    letter-spacing: 0.4px;
}
.desc {
    padding-left: 21px;
    margin-bottom: 25px;
    color: #807D7E;
    font-family: "Causten";
    font-size: 20px;
    line-height: 33.5px; /* 167.5% */
    letter-spacing: 0.4px;
}
.desc p {
    margin-bottom: 20px;
}
.euphoria {
font-weight: 700;
}
.stop {
    padding: 0px 66px 0px 21px;
}
.botton {
    margin-bottom: 20px;
}
.see {
    padding: 0px 900px 0px 21px;
    margin-bottom: 0px;
}
/* -----------#4--------------- */
.exercise-4 {
    padding: 100px 0px;
    font-family: "Cormorant Infant", serif;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    font-size: 0;
}
.jewellery-block {
    max-width: 503px;
    display: inline-block;
    padding: 70px 0;
    margin-right: 75px;
    font-size: 16px;
    font-weight: 700;
}
h6 {
    color: #D58417;
    font-size: 20px;
    line-height: 100%; /* 20px */
    margin-bottom: 27px;
}
.jewellery-title {
    font-family: "Cormorant Infant", serif;
    color: #000;
    font-size: 64px;
    line-height: 100%; /* 64px */
    margin-bottom: 30px;
}
.content {
    color: #606060;
    font-size: 31px;
    line-height: 140%; /* 42px */
}
.image {
    display: inline-block;
    font-size: 0;
    vertical-align: top;
}
.two-image {
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #502203;
    border-radius: 235px;
}
.two-image img {
    border-radius: 235px;
}
.left {
    margin-right: 30px;
    width: 177px;
    height: 336px;
}
.left img {
    margin-left: -10px;
    padding-top: 14px;
}
.richt {
    width: 307px;
    height: 500px;
}
.richt img {
    margin-left: -11px;
    padding-top: 19px;
}