@import url(https://fonts.googleapis.com/css?family=Poppins:600);
@import url(https://fonts.googleapis.com/css?family=Inter:regular);
@import url(https://fonts.googleapis.com/css?family=DM+Serif+Text:regular);

@import url("reset.css");

.desk { 
    max-width: 716px;
    height: 477px;
    padding: 10px 12px 13px 11px;
    margin: 0 auto 37px;
}
/* ______BODY_________ */

.consulting {
    font-family: "Poppins", sans-serif;
    color: #7D7D7D;
    font-size: 18px;
    max-width: 692px;
    margin: 0 auto;
    line-height: 127%
} 
h1 {
    height: 86px;
    color: #37393F;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 3px;
    }
.text {
    font-family: Inter;
    margin-bottom: 42px;
}
h2 {
    height: 54px;
    margin-bottom: 12px;
    color: #6B77E5;
    font-size: 20px;
    font-weight: 600;
}
.text2 {
    height: 54px;
    font-family: Inter;
}
.block {
}
.laptop {
    max-width: 350px;
    max-height: 266px;
    margin-right: 29px;
}
.inline {
    display: inline-block;
    max-width: 44%;
}
h3{
    color: #37393F;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}
.incubate {
    color: #40DDB6;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 21px;
}
.paragraph {
    font-family: Inter;
    line-height: normal;
    margin-bottom: 30px;
}

/* ------------2---------------- */
.jewels {
    max-width:1170px;
    max-height: 518px;
}
.jewels-text {
    display: inline-block;
    max-width: 563px;
    padding: 21px 0px 13px 0px;
    vertical-align: top;
}
.title-2 {
    color: #D06B00;
    font-family: Inter;
    font-size: 28px;
    line-height: normal;
    margin-bottom: 13px;
}
.subtitle-2 {
    color: #0E333D;
    font-family: "DM Serif Text"; 
    font-size: 59px;
    line-height: 146%;
    margin-bottom: 25px;
    height: 172px;
}
.text-block {
    color: #474747;
    font-family: Inter;
    font-size: 20px;
    line-height: 180%;
    margin: 0px 38px 21px 0px;
    height: 232px;
}
.jewels-image {
    display: inline-block;
    font-size: 0;
    margin: 0px 0px 0px 0px;
}
.rectangle {
    max-width: 273px;
    margin: 0px 22px 0px 0px;
    max-width: 100%;
}
.earrings {
    max-width: 100%;
}
