@import url(https://fonts.googleapis.com/css?family=Girassol:regular);
@import url("reset.css");

body {
    font-size: 20px;
}
img {
    vertical-align: middle;
}
.icon {
    background: #37393F;
}
.image {
    max-width: 300px;
}
p:not(:last-child) {
    margin-bottom: 15px;
}
main {
    margin-bottom: 50px;
}
footer {
    text-align: center;
}